
/vendor/


.env
.env.*
!.env.example


/storage/*.key
/storage/logs/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/bootstrap/cache/


.phpunit.result.cache
/.phpunit.cache/

####
/node_modules/
/npm-debug.log*
/yarn-error.log*


.idea/
.vscode/


.DS_Store
Thumbs.db


*.log
*.tmp
*.bak
*.swp
